.mcb_article_preview{
    text-decoration: none;
    width: 350px;
    height: 250px;
    transition: var(--transition);
    h2{
        transition: var(--transition);
    }
}
.mcb_img_preview{
    width: 310px;
    height: 150px;
    border-radius: var(--radius);
}

.mcb_article_preview:hover{
    h2{
        color: var(--cta-color-0);
    }
}
@media screen and (max-width: 500px) {
    .mcb_article_preview{
        width: 300px;
    }
    .mcb_img_preview{
        width: 270px;
    }
}