.mcb_article_preview{
    text-decoration: none;
    width: 350px;
    height: 250px;
    transition: var(--transition);
    h2{
        transition: var(--transition);
    }
}

$cont_w:310px;

.mcb_img_preview{
    width: $cont_w;
    height: 150px;
    border-radius: var(--radius);
    object-fit: cover;
}
.mcb_article_title{
    max-width: $cont_w;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: "...";;
}
.mcb_article_preview:hover{
    h2{
        color: var(--cta-color-0);
    }
    border-color: var(--cta-color-0);
}
@media screen and (max-width: 500px) {
    .mcb_article_preview{
        width: 300px;
    }
    .mcb_img_preview, .mcb_article_title{
        width: 270px;
    }
}