.mcb_cardCarousel{
    width: 1500px;
}
.mcb_cardCarousel_cont{
    margin-bottom: 30px;
}
@media screen and (max-width: 1600px) {
    .mcb_cardCarousel{
        width: 1200px;
    }
}

@media screen and (max-width: 1400px) {
    .mcb_cardCarousel{
        width: 800px;
    }
}
@media screen and (max-width: 950px) {
    .mcb_cardCarousel{
        width: 360px;
    }
}
@media screen and (max-width: 500px) {
    .mcb_cardCarousel{
        width: 300px;
    }
}