
.slick-prev {
    left: -45px !important;
}
.slick-next {
    right: -10px !important;
}
.slick-prev::before, .slick-next::before{
    font-size: 30px !important;
    color: #5c5c5b !important;
}
.slick-dots{
    bottom: -30px !important;
}
.slick-dots li button::before{
    font-size: 20px !important;
}
// @media screen and (max-width: 500px) {
//     .slick-dots li button::before{
//         font-size: 20px;
//     }
// }