.mcb-white-link{
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 0%;
        height: 4px;
        border-radius: 10px;
        background-color: #fff;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }

    &:hover{
        text-decoration: none;
        color: #fff;
        &::after{
            width: 80%;
        }
    }
}