.mcb_img{
    width: auto;
    height: 500px;
}
.mcb_mobile_img{
    display: none;
}
@media screen and (max-width: 950px) {
    .mcb_mobile_img{
        display: block;
        width: auto;
        height: 300px;
    }
}