.mcb_submenu{
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: all;
    &.open{
        margin-top: 10px;
        height: 100%;
        overflow: visible;
        gap: 10px;
        & > a{
            // margin-left: 20px;
        }
    }
}