.mcb_resume{
    background-color: var(--color-primary);
}

.mcb_resume_cont{
    $img_w:600px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr $img_w;
    justify-content: space-around;
    h1{
        font-size: 3rem;
        color: #fff;
        margin-bottom: 1rem;
    }
    p{
        color: hsl(0, 0%, 90%);
        text-align: justify;
        margin-bottom: 1rem;
    }
    .mcb_resume_img{
        width: $img_w;
        height: auto;
        border-radius: 20px;
    }
    // ! 1600PX
    @media screen and (max-width: 1600px) {
        $img_w:500px;
        grid-template-columns: 1fr $img_w;
        .mcb_resume_img{
            width: $img_w;
        }
    }

    @media screen and (max-width: 1200px) {
        $img_w:400px;
        grid-template-columns: 1fr $img_w;
        .mcb_resume_img{
            width: $img_w;
        }
    }

    @media screen and (max-width: 950px) {
        grid-template-columns: 1fr;
        justify-items: center;
        .mcb_resume_img{
            width: 80%;
        }
    }
    
    @media screen and (max-width: 500px) {
        h1{
            font-size: 2rem;
            text-align: center;
        }
        .mcb_resume_img{
            width: 100%;
        }
    }
}



