.mcb_article_title{
    background-color: var(--color-primary);
    color: #fff;
    h1, h2{
        color: #fff;
    }
}
.mcb_title{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.mcb_subtitle{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: .8rem;
}
$img_space: 600px;

.mcb_title_grid{
    display: grid;
    grid-template-columns: $img_space 1fr;
    gap: 30px;
    align-items: flex-end;
    img{
        height: auto;
        width: $img_space;
        // border-top-right-radius: 20px;
        transition: var(--transition);
    }
}
@media screen and (max-width: 1150px) {
    $img_space: 400px;
    .mcb_title_grid{
        // grid-template-columns: $img_space 1fr;
        // img, .mcb_title_img{
        //     width: $img_space;
        // }
    }
    .mcb_title{
        font-size: 2.5rem;
    }

    .mcb_subtitle{
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 900px){
    $img_space: 600px;
    .mcb_title_grid{
        grid-template-columns: $img_space ;
        justify-content: center; 
        align-items: center;
        text-align: center;
        img, .mcb_title_img{
            width: $img_space;
            border-radius: 20px;
        }
    }

    .toColumn{
        flex-direction: column;
    }
}
@media screen and (max-width: 700px){
    $img_space: 500px;
    .mcb_title_grid{
        grid-template-columns: $img_space ;
        padding: 20px;
        img, .mcb_title_img{
            width: $img_space;
        }
    }
}

@media screen and (max-width: 450px){
    $img_space: 100%;
    .mcb_title_grid{
        grid-template-columns: $img_space ;
        img, .mcb_title_img{
            width: $img_space;
        }
    }
    .mcb_title{
        font-size: 2rem;
    }
    .mcb_subtitle{
        font-size: 1.5rem;
    }
}