.mcb_article_title{
    background-color: var(--color-primary);
    color: #fff;
    h1, h2{
        color: #fff;
    }
}
.mcb_title{
    font-size: 4rem;
}
.mcb_subtitle{
    font-weight: 500;
    font-size: 2.5rem;
}
$img_space: 600px;

.mcb_title_grid{
    display: grid;
    grid-template-columns: $img_space 1fr;
    gap: 30px;
    padding-right: 30px;
    img{
        height: auto;
        width: $img_space;
        border-top-right-radius: 20px;
        transition: var(--transition);
    }
}

@media screen and (max-width: 1150px) {
    $img_space: 400px;
    .mcb_title_grid{
        grid-template-columns: $img_space 1fr;
        img{
            width: $img_space;
        }
    }
}

@media screen and (max-width: 900px){
    $img_space: 600px;
    .mcb_title_grid{
        padding: 20px;
        grid-template-columns: $img_space ;
        justify-content: center; 
        text-align: center;
        img{
            width: $img_space;
            border-radius: 20px;
        }
    }

    .mcb_title{
        font-size: 3rem;
    }
    .mcb_subtitle{
        font-size: 2rem;
    }
}
@media screen and (max-width: 700px){
    $img_space: 500px;
    .mcb_title_grid{
        grid-template-columns: $img_space ;
        padding: 20px 20px 40px 20px;
        img{
            width: $img_space;
        }
    }
}

@media screen and (max-width: 450px){
    $img_space: 100%;
    .mcb_title_grid{
        padding: 20px;
        grid-template-columns: $img_space ;
        img{
            width: $img_space;
        }
    }
    .mcb_title{
        font-size: 2rem;
    }
    .mcb_subtitle{
        font-size: 1.5rem;
    }
}