.mcb_article_body{
    // display: fle;
    padding: 30px;
    @media screen and (max-width: 900px){
        padding: 30px 25px;
        // .mcb_article_body{
        //     grid-template-columns: 1fr;
        //     gap: 20px;
        // }
    }
}
.mcb_article_cont{
    width: 70%;
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;
    @media screen and (max-width: 900px){
        width: 85%;
    }
    @media screen and (max-width: 600px){
        width: 100%;
    }
}