.mcb_header{
    height: 110px;
    background-color: #fff;
    box-shadow: 0 2px 4px #0000000d;;
}

.mcb_header_home{
    height: 500px;
    width: 100%;
    background-image: linear-gradient(180deg,#6d8ba9d4 80px,#0000 35%),url('/src/assets/img/Home/heroSection.png');
    background-size: cover;
    background-position-x: center;
    background-position-y: 100%;
    background-repeat: no-repeat;
    position: relative;
    transition: var(--transition);
}

.mcb_header, .mcb_home_nav{
    padding: 20px 40px;
}
.mcb_header_cont, .mcb_home_nav_cont{
    width: 1500px;
    transition: var(--transition);
}

.mcb_home_logo{
    width: 140px;
    height: 71px;
}

.mcb_home_menu_link{
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 0%;
        height: 4px;
        border-radius: 10px;
        background-color: #fff;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }
}
.mcb_home_menu_link:hover{
    color: #fff;
    &::after{
        width: 80%;
    }
}

.mcb_home_title{
    position: absolute;
    font-size: 2rem;
    top: 150px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition);
}

// ! mobile menu
.mcb_menu_icon{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.mcb_menu_cont{
    position: absolute;
    overflow: hidden;
    z-index: 2;
    top: 0;
    right: 0;
    width: 0%;
    padding: 40px 0;
    min-height: 100vh;
    height: 100vh;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.mcb_menu_cont > * {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}


.open.mcb_menu_cont{
    background: linear-gradient(180deg, hsla(0, 0%, 88%, 0.5) 50%, hsla(214, 65%, 38%, 0.7));
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    padding: 40px;
}
.open.mcb_menu_cont>*{
    opacity: 1;
    transition-delay: 250ms; 
}
.mcb_mobile_menu_link{
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black-3);
}
@media screen and (max-width: 1600px) {
    .mcb_home_nav_cont{
        width: 1200px;
    }
}
@media screen and (max-width: 1500px) {
    .mcb_header_home{
        background-position-x: 0;
    }
    .mcb_home_title{
        font-size: 1.75rem;
        text-align: right;
        left: unset;
        transform: unset;
        right: 90px;
    }
}
@media screen and (max-width: 1200px) {
    .mcb_home_title{
        font-size: 1.5rem;
        right: 30px;
    }
}

@media screen and (max-width: 1050px){
    .mcb_header_home{
        height: 800px;
        width: 100%;
        background-image: linear-gradient(180deg,#6d8ba9d4 80px,#0000 35%),url('/src/assets/img/Home/heroSectionMobile.jpg');
        background-position: center;
    }
}
@media screen and (max-width: 600px) {
    .mcb_header, .mcb_home_nav{
        padding: 20px;
    }
    .mcb_home_logo{
        width: 120px;
        height: auto;
    }
    .mcb_home_title{
        top: 100px;
    }
}