.loader_cont{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(hsla(240, 3%, 19%, 0.5),hsla(240, 5%, 15%, 0.75) );
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.75);
    border-top-color: transparent;
    animation: rot1 1.2s linear infinite;
}

@keyframes rot1 {
    to {
        transform: rotate(360deg);
    }
}