.mcb_ls_img{
    width: auto;
    max-height: 350px;
    transition: var(--transition);
    border-radius: var(--radius-btn);
    object-fit: cover;
    @media screen and (max-width: 1600px) {
        max-width: 500px;
        max-height: 300px;
    }
    @media screen and (max-width: 600px) {
        width: 100%;
        height: 250px;
    }
}

