.mcb_herosection{
    background-image: url('/src/assets/img/Home/heroSection.png');
    background-size: cover;
    background-position: center;
    height: 400PX;
    padding: 30px;
    text-align: center;
}