.mcb_title_cont{
    width: 100%;
    height: 150px;
    background: #fff;
}
.mcb_hs_title{
    width: 80%;
    font-size: 3rem;
    text-align: center;
    transition: var(--transition);
}



@media screen and (max-width: 1300px) {
    .mcb_hs_title{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 500px){
    .mcb_title_cont{
        height: 180px;
    }
    .mcb_hs_title{
        font-size: 2.25rem;
        width: 90%;
    }
}
