.mcb_video_card{
    text-align: left;
    width: 350px;
    height: 250px;
    padding: unset;
    overflow: hidden;
    background-color: #fff;
    border: solid 1px #cfcfcf;
    border-radius: 10px;
    transition: var(--transition);
    
    &:hover{
        border-color: var(--cta-color-0);
        .mcb_video_preview::after{
        }
        .mcb_video_title h2{
            color: var(--cta-color-0);
        }
    }
}

.mcb_video_preview{
    width: 350px;
    height: 180px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .15s ease;
        background: linear-gradient(hsla(0, 0%, 0%, 0) 70%,hsla(0, 0%, 50%, 0.502));

    }
}


.mcb_play_btn{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
}
.mcb_video_title{
    h2{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
    }
    padding: 10px 20px;
}