.mcb_videoplayer_cont{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(hsla(240, 3%, 19%, 0.5),hsla(240, 5%, 15%, 0.75) );
    z-index: 10;
    padding: 20px;
}
.mcb_videoplayer{
    width: 70%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.mcb_videoplayer_close_btn{
    position: absolute !important;
    top: 5% !important;
    right: 10% !important;
}