.mcb_prevention_img{
    width: auto;
    height: 400px;
    transition: var(--transition);
}
@media screen and (max-width: 950px) {
    .mcb_prevention_img{
        width: auto;
        height: 300px;
    }
}
@media screen and (max-width: 500px) {
    .mcb_prevention_img{
        width: 100%;
        height: auto;
    }
}
