.mcb_wi_pd{
    padding: 30px 20px 0 20px;
}
.mcb_wi_img{
    width: 570px;
    height: 400px;
    transition: var(--transition);
    @media screen and (max-width: 1400px) {
        width: 430px;
        height: 300px;
    }
    @media screen and (max-width: 500px) {
        width: 100%;
        height: auto;
    }
}
.mcb-mobile-img{
    display: none;
    @media screen and (max-width: 950px) {
        display: inherit;
    }
}

@media screen and (max-width: 950px) {
    .mcb_mqm_hide{
        display: none;
    }
    .mcb_mqm_column{
        flex-direction: column;
    }
    .mcb_wi_pd{
        padding: 40px 20px 0 20px;
    }
}